[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
extract = 'python3 extract.py'
transform = 'python3 transform.py'
